@model WebSchools.Models.Article

@{
    ViewBag.Title = "DeleteArticle";
    Layout = "~/Areas/Content/Views/Shared/_Layout.cshtml";
}

<div class="section_wrapper fix" style="color: white;">
    @if (ViewBag.DeletionMassageStat != null)
    {
        <div class="alert alert-success">
            @ViewBag.DeletionMassageStat
        </div>
    }
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainArticle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainArticle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleExplanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleExplanation)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color" style="padding-bottom: 25px;">
        <div class="fix">
            <div class="float_left">
                <input type="submit" value="Delete" id="deleteArticleBtn" class="btn btn-danger btn-sm cusom_btn"/>
            </div>
            <div class="float_left">
                @Html.ActionLink("Back to History", "WriterHistory", "Article", new { area = "Content" }, new { @class = "btn btn-primary btn-sm cusom_btn" })
            </div>
        </div>
    </div>
    }
    
</div>
<script>
    $(document).ready(function() {
        $('#deleteArticleBtn').click(function() {
            var boolConfirm = confirm("Are you sure you want to delete this?");
            if (boolConfirm === false) {
                return false;
            } else {
                return true;
            }
        });
    });
</script>