@model WebSchools.Models.Article

@{
    ViewBag.Title = "Edit Article";
    Layout = "~/Areas/Content/Views/Shared/_Layout.cshtml";
}

<div class="blg_right fix">
    @Html.Partial("~/Areas/Content/Views/Shared/_AdminTopMenu.cshtml", null)
    @if (ViewBag.ArticleEditedSuccessMessage != null)
    {
        <div class="alert alert-success">@ViewBag.ArticleEditedSuccessMessage</div>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal  content_form">

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <div class="col-md-11">
                    @Html.LabelFor(model => model.LanguageId, "Language", new { @class = "control-label" })
                    @Html.DropDownList("LanguageId", null, "Select language", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LanguageId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-11">
                    @Html.LabelFor(model => model.ArticleTitle, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.ArticleTitle, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticleTitle)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-11">
                    @Html.LabelFor(model => model.MainArticle, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.MainArticle, new { @class = "form-control", @cols = 10, @rows = 7 })
                    @Html.ValidationMessageFor(model => model.MainArticle)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-11">
                    @Html.LabelFor(model => model.ArticleExplanation, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.ArticleExplanation, new { @class = "form-control", @cols = 10, @rows = 7 })
                    @Html.ValidationMessageFor(model => model.ArticleExplanation)
                </div>
            </div>

            <input type="datetime" name="Date" value="@System.DateTime.Now" hidden />
            <input type="text" name="CreatedBy" value="ueuue" hidden />
            <input type="text" name="ActiveStatus" value="false" hidden />

            <div class="form-group" style="padding-bottom: 25px;">
                <div class="col-md-12">
                    <div class="float_left">
                        <input type="submit" value="Update" class="btn btn-success btn-sm cusom_btn" />
                    </div>
                </div>
            </div>
        </div>
    }



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>