@model IEnumerable<WebSchools.Models.JavaScript.SqlExample>

@{
    ViewBag.Title = "Active Sql Examples";
    Layout = "~/Areas/SpArea/Views/Shared/_SpArea.cshtml";
}
<div class="sp_right">
    @Html.Partial("~/Views/Shared/_admin_top_header.cshtml", null)
    <h2>Active Sql Examples</h2>


    <table class="table table-striped table-condensed table-bordered table-responsive  table-sm">
        <tr>
            <th>
                Exp Heading
            </th>
            <th>
                Exp Head Desc
            </th>
            <th>
                Exp Box
            </th>
            <th>
                Exp Desc
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
               SII
            </th>
            <th>
               A S
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExampleHeading)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExampleHeadingDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExampleBox)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExampleDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SqlIndexId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminId)
                </td>
                <td>
                    @item.Date.Substring(0,15)
                </td>
                <td>
                    <a href="~/spArea/tutorialManagers/editSqlExample/@item.Id"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        }

    </table>
</div>