@model WebSchools.Models.Html.HtmlTutorial
@using WebSchools.Models.Html

@{

    ViewBag.Title = "Ceate Html Tutorial";
    Layout = "~/Areas/Admin/Views/Shared/_adminHtml.cshtml";
}
@Html.Partial("~/Views/Shared/_admin_top_header.cshtml", null)
<div class="form_head">
    <h2>Ceate Html Tutorial</h2>
</div>
<hr />
<div class="well-sm form-group status">
    @if (ViewBag.Error != null)
    {
        <div class="text-danger">@Html.Raw(ViewBag.Error)</div>
    }
    @if (ViewBag.Success != null)
    {
        <div class="text-success">@ViewBag.Success</div>
    }
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Slug, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <select name="Slug" id="slug_drop_down" class="form-control">
                    <option value="none">--Select Slug for html tutorial--</option>
                    @foreach (HtmlIndex htmlIndex in ViewBag.HtmlIndices)
                    {
                        <option value="@htmlIndex.Slug">@htmlIndex.Slug</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Heading, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Heading, 5, 5, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Heading, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Explanation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Explanation, 5, 5, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Explanation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Example, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Example, 10, 5, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Example, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Description, 5, 5, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="text" name="Sort" value="123" hidden />
        <input type="text" name="ActiveStatus" value="false" hidden />
        <input type="text" name="AwesomeClass" value="awesomeClass" hidden />
        <input type="text" name="AdminId" value="@Session["HtmlAdminId"]" disabled />
        <input type="text" name="Date" value="@System.DateTime.Now" hidden />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
