@using WebSchools.Models.JavaScript
@model WebSchools.Models.JavaScript.SqlExample

@{
    ViewBag.Title = "Edit Sql Example";
    Layout = "~/Areas/Admin/Views/Shared/_adminSql.cshtml";
    SqlExample se = ViewBag.SqlExample;
}

@Html.Partial("~/Views/Shared/_admin_top_header.cshtml", null)
<div class="form_head">
    <h2>Edit SQL Example</h2>
    <span><b>Current Slug :: </b>@se.Slug</span>
</div>
<div class="well-sm form-group status">
    @if (ViewBag.Error != null)
    {
        <div class="text-danger">@Html.Raw(ViewBag.Error)</div>
    }
    @if (ViewBag.Success != null)
    {
        <div class="text-success">@Html.Raw(ViewBag.Success)</div>
    }
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)



        <div class="form-group">
            @Html.LabelFor(model => model.Slug, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <select id="sqlSlug" name="Slug" class="form-control">
                    <option id="0" value="none">Select SQl Slug</option>
                    @foreach (SqlIndex si in ViewBag.SqlIdices)
                    {
                        <option id="@si.Id" value="@si.Slug">@si.Slug</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
            </div>
        </div>


        <input type="text" name="SqlIndexId" id="sqlIndexId" value="" hidden />
        <div class="form-group">
            @Html.LabelFor(model => model.ExampleHeading, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.ExampleHeading, 1, 3, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExampleHeading, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExampleHeadingDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.ExampleHeadingDescription, 2, 3, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExampleHeadingDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExampleBox, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.ExampleBox, 5, 5, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExampleBox, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExampleDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.ExampleDescription, 5, 5, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExampleDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="text" name="ActiveStatus" value="false" hidden />
        <input type="text" name="AdminId" value="@Session["SqlAdminId"]" hidden />
        <input type="text" name="Date" value="@System.DateTime.Now" hidden />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#sqlSlug').change(function () {
                var sqlIndexId = $(this).children(":selected").attr('id');
                $('#sqlIndexId').attr('value', sqlIndexId);
            });
        });
    </script>
}
