@using WebSchools.Models
@using WebSchools.Models.Html
﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>@ViewBag.Title Tutorial</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style>
        .top_menu li.active a {
            font-weight: 500;
            opacity: 1;
            background: black;
            color: white;
        }
    </style>
</head>
<body>

    @*@Html.Partial("~/Views/Shared/_menus.cshtml", null)*@

    <div class="container_wrapper fix" id="innerPageZIndex">
        <div class="" id="overlays">
            <div class="tutorial_menu_wrap float_left fix">
                <span class="page_resizer" title="Resize this page">&equiv;</span>
                <div class="hide_on_resized">
                    <ul class="tutorial_menu_list_header">
                        <li><a href="~/index/index">&lArr; HOME</a></li>
                        <li><h4 class="heading_current_page_indigator">আইসিটি টিউটোরিয়াল</h4></li>
                        <li style="padding: 0">
                            <div class="custom_checkbox_lang"></div>
                        </li>
                        <li><input id="searchBoxId" type="text" placeholder="Search here" /></li>
                    </ul>

                    <ul class="tutorial_menu_list fix">
                        <li class="text-dark text-center text-capitalize">Tutorial coming soon</li>
                        @*@foreach (HtmlIndex hi in ViewBag.HtmlIndexes)
                        {
                            if (hi.ActiveStatus == "active")
                            {
                                if (htmlIndex.Slug == hi.Slug)
                                {
                                    <li class="active"><a href="~/Html/HtmlTutorial/Index/@hi.Slug">@hi.Heading</a></li>
                                }
                                else
                                {
                                    <li class=""><a href="~/Html/HtmlTutorial/Index/@hi.Slug">@hi.Heading</a></li>
                                }
                            }
                        }*@
                    </ul>
                </div>
            </div>
        </div>

        <div class="body_wrapper float_right fix" style="">
            @Html.Partial("~/Views/Shared/_menus.cshtml", null)
            <div class="under_nav fix">
                <span class="hide_lg_devices" id="open_menu">
                    <i class="fa fa-bars"></i>
                </span>

                @*<h4>@htmlIndex.Heading</h4>*@

            </div>
            <div class="the_render_body fix" id="innerPageMarginBottom">
                @RenderBody()
                @*<section class="nextPrevSectionWrapper fix">
                    <article class="nextPrevArticleWrapper fix">
                        <div class="nextPrev fix">
                            @{
                                HtmlIndex nextPage = ViewBag.NextPage;
                                HtmlIndex prevPage = ViewBag.PrevPage;
                            }
                            <a style="float: left" href="~/html/htmlTutorial/Index/@prevPage.Slug">Prev Page</a>
                            <a style="float: right" href="~/html/htmlTutorial/Index/@nextPage.Slug">Next Page</a>
                        </div>
                    </article>
                </section>*@
            </div>

        </div>
    </div>


    @Html.Partial("~/Views/Shared/_InnerPageFooter.cshtml", null)

</body>
</html>
