﻿<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>@ViewBag.Title WebSchools</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="container_wrapper headerBg" id="floatingHeader">
        <div class="container_fixed fix">
            <header id="header">
                <div class="logo">
                    <a href="~/Index/Index"><span><i class="fa fa-home"></i></span></a>
                </div>

                <div class="webschool" id="index_page_webschool">
                    <a href="~/Index/Index">ওয়েবস্কুলস.কম.বিডি</a>
                </div>

                <nav class="">
                    <ul class="lg_devices_menu">
                        <li><a href="#htmlId">এইচটিএমএল</a></li>
                        <li><a href="#cssId">CSS</a></li>
                        <li><a href="#javaScriptId">Javascript</a></li>
                        <li><a href="#jQueryId">jQuery</a></li>
                        <li><a href="#angularJsId">AngularJs</a></li>
                        <li><a href="#howToId">Learn How To</a></li>
                    </ul>
                </nav>
                <div class="toogle_icon_wrapper">
                    <span><i class="fa fa-bars" onclick="toggleFunction();"></i></span>
                </div>
            </header>

            <div class="sm_devices_menu">
                <ul id="navbar">
                    <li><a href="#htmlId" onclick="toggleFunction();">এইচটিএমএল</a></li>
                    <li><a href="#cssId" onclick="toggleFunction();">CSS</a></li>
                    <li><a href="#javaScriptId" onclick="toggleFunction();">Javascript</a></li>
                    <li><a href="#jQueryId" onclick="toggleFunction();">jQuery</a></li>
                    <li><a href="#angularJsId" onclick="toggleFunction();">AngularJs</a></li>
                    <li><a href="#howToId" onclick="toggleFunction();">Learn How To</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>

    <div class="container_wrapper fix" style="background: #EBEDF0; margin-top: 65px;">
        @RenderBody()
    </div>



    <div class="container_wrapper footerBg">
        <div class="container_fixed fix">
            <footer id="footer" class="fix">
                <div>
                    @DateTime.Now.Year &copy; WebSchools.com.bd
                </div>
            </footer>
        </div>
    </div>

<script>
    

    var x = document.getElementById("navbar");
    function toggleFunction() {

        if (x.className.indexOf("display_block") == -1) {
            x.className += " display_block";
        } else {
            x.className = x.className.replace(" display_block", "");
        }

        if (x.style.maxHeight) {
            x.style.maxHeight = null;

        } else {
            x.style.maxHeight = x.scrollHeight + "px";
        }
    }
</script>
</body>
</html>
